
@page "/cars"

<h1>Cars</h1>
@code{
    public List<CarDetailsDTO> Cars { get; set; }
    [Inject]
    public ICarHttpService CarHttpService { get; set; }
    public IJSRuntime JS { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Cars = await CarHttpService.GetCarsDetails();
        if(Cars is not null)
        {
            foreach (var car in Cars)
            {
                Console.WriteLine(car.Name+", "+car.CompanyName);
            }
        }



    }
}
