@{
    Layout = "_SuperAdminLayout";
}

<h2>Index</h2>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("superAdminMenuId1").classList.add("active");
        document.getElementById("superAdminMenuId1").classList.add("bg-info");
        document.getElementById("superAdminMenuId1").classList.add("rounded");
        document.getElementById("superAdminMenuId1").classList.add("rounded-1");
    });
</script>
