

@model IndexVM
  
@{
    ViewData["Title"] = "Home Page";
}
@*@await Html.PartialAsync("_LanguagesPartial")
@{ 
    await Html.RenderPartialAsync("_LanguagesPartial");
}

<partial name="_LanguagesPartial"></partial>*@

<partial name="_CompaniesDropDownListPartial"model="Model.Companies" />
@*<form method="get">
    <label>Choose the company</label>
    <select name="companyId" class="form-select">
        @foreach(CompanyDTO company in Model.Companies)
            {
                <option value="@company.Id">@company.Name</option>
            }

    </select>
    <div class="mb-3">
        <input type="submit" value="Filter" class="btn btn-primary"/>
    </div>
</form>*@

<hr />
<partial name="_LanguagesPartial" model="Model.Languages" />
@*<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>Company</td>
    </tr>
    @foreach (Language language in Model.Languages)
    {
        <tr>
            <td>@language.Name</td>
            <td>@language.Company.Name</td>
        </tr>
    }
</table>*@

