@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Cats</h1>
    <p class="fs-1">Learn about 
    <a asp-controller="Cats" asp-action="Index">Cats with ASP.NET Core</a></p>
</div>
