@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="display-5">Learn about <a asp-action="Index" asp-controller="Posts"
                      class="text-decoration-none">Posts</a>.</p>
</div>
