@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<ASP_DZ_2_Model.Models.Movie>
@*@foreach (var movie in Model)
    {
        <div>@movie.Name</div>
    }*@
<a href="~/Home/Movie">Movies</a>
