<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>Session list</td>
        <td>Count of sessions</td>
        <td>Details</td>

    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Name</td>
            <td>
                @foreach (Session session in movie.Sessions)
                {
                    <div class="m-1">@session.TimeSession</div>

                }
            </td>
            <td>Count of sessions: @movie.Sessions.Count</td>
            <td>
                <a asp-action="Details" asp-route-id="@movie.ID">Learn More</a>
            </td>
        </tr>

    }
</table>