
@model DetailsMedicinesVM
<h3>Details of medicine</h3>
<ul>
    <li>@Model.Medicine.Name</li>
    <li>@Model.Medicine.Dosage</li>
    <li>@Model.Medicine.Category</li>
    <li>@Model.Medicine.Producer</li>
    
</ul>
