@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3>Teat Claims</h3>
<div>
    <a asp-action="SuperAdmin" asp-controller="TestClaims">Super Admin</a>
</div>
<div>
    <a asp-action="Admin" asp-controller="TestClaims">Admin</a>
</div>
<div>
    <a asp-action="PostsWriter" asp-controller="TestClaims">Posts Writer</a>
</div>
<vc:last-viewed-medicines/>