@page "{id}"
@model Razor1.Pages.BlogModel
@{
    var id = RouteData.Values["id"];
}

<h1>@Model.Message</h1>
<form method="post">
    <input name="Name" placeholder="name" />
    <input name="postsCount" placeholder="count" />
    <input type="submit" value="Send" />
</form>