@*@model ModelBinding.Models.Trail*@
@model ModelBinding.Models.TrailVM

<h1>CreateTrail</h1>

<form asp-action="CreateTrail" method="post">
    <div class="mb-3 w-50">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3 w-50">
        <label asp-for="TrailLengthKm" class="form-label"></label>
        <input asp-for="TrailLengthKm" type="number" class="form-control" />
        <span asp-validation-for="TrailLengthKm" class="text-danger"></span>
    </div>

    <div class="mb-3 w-50">
        <label asp-for="TrailLengthM" class="form-label"></label>
        <input asp-for="TrailLengthM" type="number" max="1000" class="form-control" />
        <span asp-validation-for="TrailLengthM" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" value="Add" class="btn btn-success" />
    </div>
</form>