@page
@model Auth0.Pages.Account.UserProfileModel
@{
}
<div class="row">
<div class="col-2">
    <img src="@Model.Image"
         alt=""
         class="img-rounded"/>
</div>
    <div class="col-10"
         <h2>@Model.Name</h2>
    <p>@Model.Email</p>
    </div>
</div>
